/* #wordContainer {
  border-bottom: 1px solid black;
} */
* {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  margin-bottom: 0px;
}
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(129, 129, 203, 1) 0%,
    rgba(0, 212, 255, 1) 12%
  );
}
#wordContainer {
  display: flex;
  justify-content: space-around;
}
#moves {
  display: flex;
  margin: 25px 0px 0px 0px;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
}
#keyBoard-container {
  /* margin: 50px 50px 0px 50px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.letter {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 50px;
  width: 50px;
  border-bottom: 1px solid black;
}
#keyBoardContainer1,
#keyBoardContainer2,
#keyBoardContainer3 {
  display: flex;
  margin: 10px;
  justify-content: center;
}
#key {
  width: 40px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: bold;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
}